
@{
    ViewBag.Title = "KhoSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Search Popup -->
<div class="brown--color box-search-content search_active block-bg close__top">
    <form id="search_mini_form" class="minisearch" action="#">
        <div class="field__search">
            <input type="text" placeholder="Search entire store here...">
            <div class="action">
                <a href="#"><i class="zmdi zmdi-search"></i></a>
            </div>
        </div>
    </form>
    <div class="close__wrap">
        <span>close</span>
    </div>
</div>
<!-- End Search Popup -->
<!-- Start Categories area -->
<div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">KHO SÁCH</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="@Url.Action("HomePage", "TrangChu")">Trang chủ</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Kho sách</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories area -->
<!-- Start Books Page -->
<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    <aside class="wedget__categories poroduct--cat">
                        <h3 class="wedget__title">Thể loại sách</h3>
                        <ul id="filter-categories">
                            <li id="AllCategoties"><a>Tất cả thể loại <span>(@ViewBag.listbooks.Count)</span></a></li>
                            @{
                                int dem = 0;
                                foreach (var theLoai in ViewBag.listcategories)
                                {
                                    <li id="@theLoai.id"><a>@theLoai.name <span>(@ViewBag.soLuongSach[dem])</span></a></li>
                                    dem++;
                                }
                            }
                        </ul>
                    </aside>

                    <aside class="wedget__categories poroduct--tag">
                        <h3 class="wedget__title">Tags</h3>
                        <ul>
                            @{
                                dem = 0;
                                foreach (var theLoai in ViewBag.listcategories)
                                {
                                    <li><a>@theLoai.name</a></li>
                                    dem++;
                                }
                            }
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="col-lg-9 col-12 order-1 order-lg-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between minisearch">
                            <div class="shop__list nav justify-content-center" role="tablist">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#nav-grid" role="tab"><i class="fa fa-th"></i></a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#nav-list" role="tab"><i class="fa fa-list"></i></a>
                            </div>
                            <div class="row search_books d-flex justify-content-between">
                                <input class="search_input" type="text" placeholder="Nhập từ khoá để tìm kiếm sách ..." id="searchInput" />
                                <a class="search_icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab__container">
                    <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                        <div class="row" id="product-books">
                            @{

                                foreach (var item in ViewBag.listbooks)
                                {

                                    //Hiển thị tên tác giả từ chuỗi id
                                    string authorName = "";
                                    if (item.authors != null)
                                    {
                                        int i = 0;
                                        string[] authorList = item.authors.Split(',');
                                        foreach (var ath in authorList)
                                        {
                                            foreach (var athName in ViewBag.listauthor)
                                            {
                                                if (ath.Equals(athName.id))
                                                {
                                                    if (i == authorList.Length - 1)
                                                    {
                                                        authorName += athName.name;
                                                        break;
                                                    }
                                                    else
                                                    {
                                                        authorName += athName.name + ", ";
                                                    }
                                                }
                                            }
                                            i++;
                                        }
                                    }
                                    <!-- Start Single Product -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="product">
                                            <div class="product__thumb">
                                                <a class="first__img"><img src="@item.thumbnailUrl" alt="product image"></a>
                                                <ul class="prize position__right__bottom d-flex">
                                                    <li><a id="books_author">@authorName</a></li>
                                                    <li class="hidden" id="categories">@item.categories</li>
                                                </ul>
                                            </div>
                                            <div class="product__content content--center text-center">
                                                <h4><a id="books_title">@item.title</a></h4>
                                                <ul class="rating d-flex">
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Product -->
                                }
                            }

                        </div>
                        <ul class="wn__pagination" id="page-num">
                            <li style="width: 24px;" id="prev-button"><i class="zmdi zmdi-chevron-left hidden"></i></li>
                            <li class="active"><a>1</a></li>
                            @for (int i = 1; i < ViewBag.lenghtBooks; i++)
                            {
                                <li><a>@(i+1)</a></li>
                            }
                            <li style="width:24px;" id="next-button"><i class="zmdi zmdi-chevron-right"></i></li>
                        </ul>
                    </div>
                    <div class="shop-grid tab-pane fade" id="nav-list" role="tabpanel">
                        <div class="list__view__wrapper">
                            @{
                                foreach (var item in ViewBag.listbooks)
                                {
                                    //Hiển thị tên tác giả từ chuỗi id
                                    string authorName = "";
                                    if (item.authors != null)
                                    {
                                        int i = 0;
                                        string[] authorList = item.authors.Split(',');
                                        foreach (var ath in authorList)
                                        {
                                            foreach (var athName in ViewBag.listauthor)
                                            {
                                                if (ath.Equals(athName.id))
                                                {
                                                    if (i == authorList.Length - 1)
                                                    {
                                                        authorName += athName.name;
                                                        break;
                                                    }
                                                    else
                                                    {
                                                        authorName += athName.name + ", ";
                                                    }
                                                }
                                            }
                                            i++;
                                        }
                                    }

                                    <!-- Start Single Product -->
                                    <div class="list__view">
                                        <div class="thumb">
                                            <a class="first__img"><img src="@item.thumbnailUrl" alt="product images"></a>
                                        </div>
                                        <div class="content">
                                            <h2><a>@item.title</a></h2>
                                            <ul class="prize__box">
                                                <li>@authorName</li>
                                                <li class="hidden" id="categories">@item.categories</li>
                                            </ul>
                                            <ul class="rating d-flex">
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>

                                            <p>@item.shortDescription</p>
                                            <ul class="cart__action d-flex">
                                                <li class="wishlist"><a href="cart.html"></a></li>
                                                <li class="compare"><a href="cart.html"></a></li>
                                            </ul>

                                        </div>
                                    </div>
                                    <!-- End Single Product -->
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="hidden" id="checkShow">ListBooks</a>
<!-- End Books Page -->