
@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> In báo cáo
        </a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Tổng số người dùng
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.UserCount Tài khoản</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Tổng số đầu sách
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.BookCount Sách</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book-open fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Tổng số phiếu mượn
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CallCardCount Phiếu mượn</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-id-card fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Sách còn trong kho
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.TiLeSach%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: @ViewBag.TiLeSach%" aria-valuenow="@ViewBag.TiLeSach" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            @{
                if (ViewBag.listCallCard != null)
                {
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Phiếu mượn quá hạn</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="height:320px;">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr class="title-top">
                                            <th>ID người dùng</th>
                                            <th>Tên sách</th>
                                            <th>Ngày mượn</th>
                                            <th>Ngày hẹn trả</th>
                                            <th>Ngày trả</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.listCallCard)
                                        {
                                            <tr>
                                                <td class="text-center">@item.user_id</td>
                                                <td>
                                                    @{ //Hiển thị tên sách từ chuỗi id
                                                        if (item.books_id != null)
                                                        {
                                                            string[] booksList = item.books_id.Split(',');
                                                            foreach (var book in booksList)
                                                            {
                                                                foreach (var bookName in ViewBag.listBooksCallCard)
                                                                {
                                                                    if (book.Equals(bookName._id))
                                                                    {
                                                                        <p>- @bookName.title</p>
                                                                        break;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        DateTime date_temp = new DateTime(0001, 01, 01);
                                                        if (DateTime.Compare(item.date_issued, date_temp) == 0)
                                                        {
                                                            <p>Chưa có thông tin</p>
                                                        }
                                                        else
                                                        {
                                                            <p>@item.date_issued.ToString("dd-MM-yyyy")</p> }
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (DateTime.Compare(item.date_return, date_temp) == 0)
                                                        {
                                                            <p>Chưa có thông tin</p>
                                                        }
                                                        else
                                                        {
                                                            <p>@item.date_return.ToString("dd-MM-yyyy")</p>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (DateTime.Compare(item.date_returned, date_temp) == 0)
                                                        {
                                                            <p>Chưa có thông tin</p>
                                                        }
                                                        else
                                                        {
                                                            <p>@item.date_returned.ToString("dd-MM-yyyy")</p>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    <p id="statusQuaHan">@item.status</p>
                                                </td>
                                            </tr>                                           
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Phiếu mượn</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Đang mượn
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Đã trả
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-danger"></i> Quá hạn
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
