@model QuanLyThuVien.Models.User

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="max-width:1100px;">

    <div class="card o-hidden border-0 shadow-lg">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row border-right">
                <div class="col-lg-4 d-flex flex-column align-items-center text-center border-right">
                    <img class="rounded-circle mt-5" style="width:150px; height: 150px;" src="@Html.DisplayFor(model => model.avatar)" />                
                    <span class="font-weight-bold" style="color: black; margin-top: 10px;">@Model.username</span>
                    <span class="text-black-50">@Model.email</span>

                </div>
                <div class="col-lg-8">
                    <div class="text-md-right icon-back">
                        <a href="@Url.Action("ListUser", "ql_NguoiDung")">
                            <i class="fa fa-fw fa-times"></i>
                        </a>
                    </div>
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900">Chi tiết người dùng: @Model.username</h1>
                        </div>
                        <hr />
                        <div class="row details">
                            <div class="text-sm-center col-md-3 details-title">
                                @Html.DisplayNameFor(model => model.email)
                            </div>
                            <div class="text-sm-left col-md-9">
                                @Html.DisplayFor(model => model.email)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="text-sm-center col-md-3 details-title">
                                @Html.DisplayNameFor(model => model.password)
                            </div>
                            <div class="text-sm-left col-md-9">
                                @Html.DisplayFor(model => model.password)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="text-sm-center col-md-3 details-title">
                                @Html.DisplayNameFor(model => model.fullName)
                            </div>
                            <div class="text-sm-left col-md-9">
                                @Html.DisplayFor(model => model.fullName)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="text-sm-center col-md-3 details-title">
                                @Html.DisplayNameFor(model => model.dateOfBirth)
                            </div>
                            <div class="text-sm-left col-md-9">
                                @Html.DisplayFor(model => model.dateOfBirth)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="text-sm-center col-md-3 details-title">
                                @Html.DisplayNameFor(model => model.adress)
                            </div>
                            <div class="text-sm-left col-md-9">
                                @Html.DisplayFor(model => model.adress)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="text-sm-center col-md-3 details-title">
                                @Html.DisplayNameFor(model => model.phone)
                            </div>
                            <div class="text-sm-left col-md-9">
                                @Html.DisplayFor(model => model.phone)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="text-sm-center col-md-3 details-title">
                                @Html.DisplayNameFor(model => model.dateOfRegist)
                            </div>
                            <div class="text-sm-left col-md-9">
                                @Html.DisplayFor(model => model.dateOfRegist)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="text-sm-center col-md-3 details-title">
                                @Html.DisplayNameFor(model => model.status)
                            </div>
                            <div class="text-sm-left col-md-9">
                                @Html.DisplayFor(model => model.status)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-8">
                                <a href="@Url.Action("Edit", "ql_NguoiDUng", new { id = Model.id})" class="btn btn-warning btn-user btn-block" onclick="return confirm('Bạn có muốn sửa người dùng @Model.username?')">
                                    <i class="fa fa-fw fa-edit"></i> Sửa thông tin người dùng
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="@Url.Action("Delete", "ql_NguoiDung", new { id = Model.id})" class="btn btn-google btn-user btn-block" onclick="return confirm('Bạn có muốn xoá người dùng @Model.username?')">
                                    <i class="fa fa-fw fa-trash"></i> Xoá người dùng
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>