@model QuanLyThuVien.Models.Books

@{
    ViewBag.Title = "Danh sách sách";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- PAGE BODY-->
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Quản lý sách</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Danh sách sách</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Datatable-->
<section class="section">
    <div class="card">
        <div class="card-header row" style="margin-bottom: 10px;">
            <h3 class="col-6" style="margin-bottom: 0; margin-top: 4px; color: #fff;">@ViewBag.Title</h3>
            <div class="col-6 d-flex justify-content-end">
                <a class="btn icon icon-left btn-primary" id="link-add" style="font-weight: bold; width: 200px; background-color:#0097ff; border-color: #fff">
                    <i class="fal fa-plus-square"></i> Thêm mới
                </a>
            </div>
        </div>
        <div class="card-body">
            <table class='table table-hover' id="table1">
                <thead>
                    <tr>
                        <th>Tên sách</th>
                        <th>Tác giả</th>
                        <th>Thể loại</th>
                        <th>Giới thiệu</th>
                        <th>Số sách còn</th>
                        <th>Ảnh bìa</th>
                        <th>Trạng thái</th>
                        <th style="text-align: start">Tác vụ</th>
                    </tr>
                </thead>
                <tbody id="_TBODY">
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- CREATE-EDIT MODAL -->
<div class="modal fade text-left w-100" id="Add_Edit_BookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Add_Edit_BookModal_title">Thêm mới sách</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormAddBook">
                    <!--Row 1-->
                    <div class="row">
                        <div class="col-sm-6 mb-1" style="padding-right: 10px;">
                            <div class="input-group">
                                <span class="input-group-text">ID</span>
                                <input type="text" class="form-control" disabled="disabled" id="Add_id" />
                            </div>
                        </div>
                        <div class="col-sm-6 mb-1" style="padding-left: 10px;">
                            <div class="input-group">
                                <span class="input-group-text">Trạng thái</span>
                                <select class="form-control" id="Add_status">
                                    <option>Còn sách</option>
                                    <option>Hết sách</option>
                                    <option>Chưa cập nhật</option>
                                </select>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!-- Row 2-->
                    <div class="row">
                        <div class="col mb-1">
                            <div class="input-group">
                                <span class="input-group-text">Tên sách *</span>
                                <input type="text" class="form-control" id="Add_title" />
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!-- Row 3-->
                    <div class="row mutil-choice">
                        <div class="col mb-1">
                            <div class="input-group">
                                <span class="input-group-text">Tác giả * </span>
                                <select class="form-control" id="Add_author" name="Add_author" multiple="multiple">
                                    @foreach (var author in ViewBag.listAuthor)
                                    {
                                        <option value="@author.id">@author.name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <p></p>
                    </div>
                    <!-- Row 4-->
                    <div class="row mutil-choice">
                        <div class="col mb-1">
                            <div class="input-group">
                                <span class="input-group-text">Thể loại * </span>
                                <select class="form-control" id="Add_cate" multiple="multiple">
                                    @foreach (var cate in ViewBag.listCategories)
                                    {
                                        <option value="@cate.id">@cate.name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <p></p>
                    </div>
                    <!-- Row 5-->
                    <div class="row">
                        <div class="col mb-1">
                            <div class="input-group">
                                <span class="input-group-text">Giới thiệu</span>
                                <textarea class="form-control" rows="3" style="resize: none;" id="Add_short"></textarea>

                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!-- Row 6-->
                    <div class="row">
                        <div class="input-group" style="height: 400px">
                            <span class="input-group-text">Giới thiệu chi tiết</span>
                            <div style="flex: 1 1 auto; width: min-content">
                                <div id="full_editor" style="height: 358px">
                                </div>
                                <textarea class="hide" id="Add_long"></textarea>
                            </div>
                        </div>
                        <p></p>
                    </div>
                    <!-- Row 7-->
                    <div class="row">
                        <div class="col-sm-6 mb-1" style="padding-right: 10px;">
                            <div class="input-group">
                                <span class="input-group-text">Năm xuất bản</span>
                                <input type="number" class="form-control" name="datepicker" id="Add_pubDate" />
                            </div>
                            <p></p>
                        </div>
                        <div class="col-sm-6 mb-1" style="padding-left: 10px;">
                            <div class="row">
                                <div class="col-sm-6" style="padding-right: 5px">
                                    <div class="input-group">
                                        <span class="input-group-text">Số lượng</span>
                                        <input type="number" class="form-control" id="Add_count" />
                                    </div>
                                </div>
                                <div class="col-sm-6" style="padding-left: 5px">
                                    <div class="input-group">
                                        <span class="input-group-text">Số sách còn</span>
                                        <input type="number" class="form-control" id="Add_countIn" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!-- Row 8-->
                    <div class="row">
                        <input type="file" class="hide" accept="image/*" id="Add_Thumb_hide" />
                        <div class="col mb-1">
                            <div class="input-group">
                                <span class="input-group-text">Ảnh bìa</span>
                                <label class="form-control" style="background-color: white; overflow: hidden; text-overflow: ellipsis; " id="Add_thumb"></label>
                            </div>
                            <p></p>
                        </div>
                    </div>
                    <!---->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="ModalCancel">
                    <i class="fa fa-times"></i> Huỷ
                </button>
                <button name="SaveBook" type="button" class="btn btn-primary ml-1" onclick="SaveBook()">
                    <i class="fal fa-save"></i> Lưu
                </button>
            </div>
        </div>
    </div>
</div>
<!-- DELETE MODAL-->
<div class="modal fade text-left" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel120" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title white" id="Delete_title">Bạn có muốn xoá sách này?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body" id="Delete_modal_body">
                <p id="D_title"></p>
                <p id="D_ID" class="hide"></p>
                <ul>
                    <li id="D_author"></li>
                    <li id="D_cate"></li>
                    <li id="D_date"></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    <i class="fa fa-times"></i> Huỷ
                </button>
                <button type="button" class="btn btn-danger ml-1" data-bs-dismiss="modal" onclick="DeleteBook()">
                    <i class="fa fa-trash"></i> Xoá
                </button>
            </div>
        </div>
    </div>
</div>
<!-- DETAIL MODAL -->
<div class="modal fade text-left w-100" id="Detail_BookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel16" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin sách</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5" style=" box-shadow: 0 0 40px 0; border-radius: 50px; display:flex; align-items: center">
                        <img id="image_detail" class="img_Detail" />
                    </div>
                    <div class="col-7" style="padding: 0 0 0 20px;">
                        <h2 id="title_detail" class="title_Detail">Tên sách</h2>
                        <div class="row">
                            <div class="col-9">
                                <p id="name_author" class="name_Author">Tác giả: </p>
                            </div>
                            <div class="col-3">
                                <img id="avatat_author" class="avatar_Author" />
                            </div>
                        </div>
                        <p id="name_cate" class="name_Cate">Thể loại: </p>
                        <p id="date_detail"></p>
                        <div class="row">
                            <div class="col-6"><p id="count_detail"></p></div>
                            <div class="col-6"><p id="countin_detail"></p></div>
                        </div>
                        <p id="des_short" class="des_Short">Giới thiệu: </p>
                        <div id="des_long" class="ql-editor row">

                        </div>


                        <p id="countin_detail"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="ModalCancel">
                    <i class="fa fa-chevron-left"></i> Trở lại
                </button>
            </div>
        </div>
    </div>
</div>
<!-- SCRIPTS-->
@section scripts{
    <script type="text/javascript">
        var thumbSrc = "";
        $(document).ready(function () {
            GetListBook();
            //Cấu hình toasts
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            //cấu hình chosen framework
            $("#Add_author").chosen({
                no_results_text: "Không tìm thấy tác giả",
                max_selected_options: 5
            });
            $("#Add_author").bind("chosen:maxselected", function () { alert("Chỉ được chọn nhiều nhất 5 tác giả."); });
            $("#Add_cate").chosen({
                no_results_text: "Không tìm thấy thể loại",
                max_selected_options: 5,
            });
            $("#Add_cate").bind("chosen:maxselected", function () { alert("Chỉ được chọn nhiều nhất 5 thể loại."); });
            $("#Add_status").chosen({
                disable_search: true
            });
            //Chọn file ảnh
            $('#Add_thumb').on('click', function () {
                $('#Add_Thumb_hide').click();
            });
            $('#Add_Thumb_hide').on('change', function (e) {
                //lấy file
                var fff = e.target.files;
                var no_files = 0;
                if (fff !== undefined)
                    no_files = fff.length;

                $('#Add_thumb').empty();
                $('#Add_thumb').text(fff[no_files - 1].name);

                // Resize ảnh
                const resize_width = 600;
                const item = fff[no_files - 1];
                const reader = new FileReader();
                reader.readAsDataURL(item);
                reader.name = item.name;
                reader.size = item.size;
                reader.onload = function (event) {
                    const img = new Image();
                    img.src = event.target.result;
                    img.name = event.target.name;
                    img.size = event.target.size;
                    img.onload = function (el) {
                        const elem = document.createElement('canvas');
                        const scaleResize = resize_width / el.target.width;
                        elem.width = resize_width;
                        elem.height = el.target.height * scaleResize;
                        const ctx = elem.getContext('2d');
                        ctx.drawImage(el.target, 0, 0, elem.width, elem.height);
                        const srcEncoded = ctx.canvas.toDataURL('image/jpeg', 1);

                        thumbSrc = srcEncoded;
                    }
                }
                ///
            });
            //Tuỳ chỉnh datetime picker
            $('#Add_pubDate').datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true
            });
        });
        //Setup edit modal
        $(document).on("click", ".link-edit", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            document.getElementById('Add_Edit_BookModal_title').innerHTML = "Sửa thông tin sách";
            $.ajax({
                type: "GET",
                url: "/Admin/ql_Sach/GetBook/" + id,
                dataType: "json",
                success: function (res) {
                    $('#Add_id').val(res._id);
                    $('#Add_status').val(res.status).trigger('chosen:updated');
                    $('#Add_title').val(res.title);
                    $('#Add_author').val(res.author_temp).trigger('chosen:updated');
                    $('#Add_cate').val(res.categories_temp).trigger('chosen:updated');
                    $('#Add_short').val(res.shortDescription);
                    $('#Add_long').val("");
                    quillEditor.root.innerHTML = res.longDescription;
                    $('#Add_count').val(res.count);
                    $('#Add_countIn').val(res.count_in);
                    $('#Add_countIn').removeAttr("disabled");
                    $('#Add_pubDate').val(res.publishedDate);
                    $('#Add_thumb').empty();
                    $('#Add_thumb').text(res.thumbnailUrl);
                    thumbSrc = res.thumbnailUrl;
                    $('#Add_Edit_BookModal').modal('show');
                }
            })
        });
        //setup create modal
        $(document).on("click", "#link-add", function (e) {
            e.preventDefault();
            document.getElementById('Add_Edit_BookModal_title').innerHTML = "Thêm mới sách"
            $('#Add_id').val("");
            $('#Add_status').val("Còn sách").trigger('chosen:updated');
            $('#Add_title').val("");
            $('#Add_author').val("").trigger('chosen:updated');
            $('#Add_cate').val("").trigger('chosen:updated');
            $('#Add_short').val("");
            $('#Add_long').val("");
            quillEditor.root.innerHTML = "";
            $('#Add_count').val("");
            $('#Add_countIn').val("");
            $('#Add_countIn').attr('disabled', 'disabled');
            $('#Add_pubDate').val("");
            $('#Add_Thumb').empty;
            $('#Add_thumb').text("");
            $('#Add_Thumb_hide').val("");
            $('#Add_Edit_BookModal').modal('show');
        });
        //Setup delete modal
        $(document).on("click", ".link-delete", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $.ajax({
                type: "GET",
                url: "/Admin/ql_Sach/GetBookDelete/" + id,
                dataType: "json",
                success: function (res) {
                    document.getElementById("D_ID").innerHTML = res._id;

                    document.getElementById("D_title").innerHTML = "Sách: " + res.title;
                    document.getElementById("D_author").innerHTML = "Tác giả: " + res.author_temp.join(',');
                    document.getElementById("D_cate").innerHTML = "Thể loại: " + res.categories_temp.join(',');
                    document.getElementById("D_date").innerHTML = "Năm xuất bản: " + res.publishedDate;
                    $('#Delete_Modal').modal('show');
                }
            })
        });
        //Detail book
        $(document).on("click", ".link-detail", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $.ajax({
                type: "GET",
                url: "/Admin/ql_Sach/GetBookDelete/" + id,
                dataType: "json",
                success: function (res) {
                    document.getElementById('image_detail').src = res.thumbnailUrl;
                    document.getElementById('avatat_author').src = res.thumbnailUrl;
                    $('#title_detail').text(res.title);
                    $('#name_author').html("<strong>Tác giả: </strong>" + res.author_temp.join(', '));
                    $('#name_cate').html("<strong>Thể loại: </strong>" + res.categories_temp.join(', '));
                    $('#des_short').html("<strong>Giới thiệu: </strong>" + res.shortDescription);
                    $('#date_detail').html("<strong>Năm xuất bản: </strong>" + res.publishedDate);
                    $('#count_detail').html("<strong>Tổng số sách: </strong>" + res.count);
                    $('#countin_detail').html("<strong>Số sách còn tại thư viện: </strong>" + res.count_in);

                    document.getElementById("des_long").innerHTML = "<p><strong>Giới thiệu chi tiết: </strong></p>";
                    document.getElementById("des_long").innerHTML += res.longDescription;

                    $('#Detail_BookModal').modal('show');
                }
            })
        });
        //Delete book
        function DeleteBook() {
            var id = document.getElementById("D_ID").innerHTML;
            $.ajax({
                type: "POST",
                url: "/Admin/ql_Sach/Delete/" + id,
                dataType: "json",
                success: function (res) {
                    if (res.status == "DELETE_OK") {
                        //window.location.reload(true);
                        //$("#body_build").load(" #body_build > *");
                        toastr["success"]("Sách đã được xoá!", "Xoá thành công");
                        GetListBook();


                    }
                    if (res.status == "DELETE_FALSE") {
                        toastr["error"]("Xoá thất bại. Kiểm tra lại kết nối mạng hoặc tải lại trang!", "Xoá thất bại");
                    }
                }
            })
        };
        //Save Book Add - Edit
        function SaveBook() {
            document.getElementById("Add_long").value = quillEditor.root.innerHTML;
            var bookData = {
                _id: $('#Add_id').val(),
                status: $('#Add_status').val(),
                title: $('#Add_title').val(),
                author_temp: $('#Add_author').val(),
                categories_temp: $('#Add_cate').val(),
                shortDescription: $('#Add_short').val(),
                longDescription: $('#Add_long').val(),
                count: $('#Add_count').val(),
                count_in: $('#Add_countIn').val(),
                publishedDate: $('#Add_pubDate').val(),
                thumbnailUrl: thumbSrc
            }
            $.ajax({
                url: "/Admin/ql_Sach/Create_Edit",
                data: JSON.stringify(bookData),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    if (res.status != null) {
                        {
                            if (res.status == "ADD_OK") {
                                $('#ModalCancel').click();
                                toastr["success"]("Thêm mới sách: " + bookData.title + " thành công!", "Thêm mới thành công");
                                //window.location.reload(true);
                                GetListBook();
                            }
                            if (res.status == "EDIT_OK") {
                                $('#ModalCancel').click();
                                //$("#body_build").load(" #body_build > *");
                                toastr["success"]("Sửa thông tin sách: " + bookData.title + " thành công!", "Sửa thông tin thành công");
                                GetListBook();
                            }
                            if (res.status == "ADD_FALSE") {
                                toastr["warning"]("Sách: " + bookData.title + " đã có trong hệ thống!", "Thêm mới thất bại");
                            }
                            if (res.status == "EDIT_FALSE") {
                                toastr["warning"]("Sách: " + bookData.title + " đã có trong hệ thống!", "Sửa thông tin thất bại");
                            }
                            if (res.status == "NO_INPUT_DATA") {
                                toastr["error"](res.propery + " chưa được nhập!", "Lưu thất bại");
                            }
                        }
                    }
                },
                error: function () {
                    alert("Đã có lỗi xảy ra. Kiểm tra lại kết nối mạng hoặc tải lại trang.");
                    toastr["error"]("Đã có lỗi xảy ra. Kiểm tra lại kết nối mạng hoặc tải lại trang!", "Lỗi");
                }
            });
        };
        //Start datatable
        var myTable = document.querySelector('#table1');
        var dataTable = new simpleDatatables.DataTable(myTable);
        function GetListBook() {
            $('#_TBODY').html("");
            dataTable.destroy();
            $.ajax({
                type: "GET",
                url: "/Admin/ql_Sach/GetListBook",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (res) {
                    var html = '';
                    $.each(res, function (key, item) {
                        //lấy tên tác giả
                        var i = 0;
                        var authorName = '';
                        $.each(item.author_temp, function (keyA, itemA) {
                            if (i == 2) {
                                authorName += '<p>' + itemA + ' ...</p>';
                                return false;
                            }
                            else
                                authorName += '<p>' + itemA + '</p>';
                            i += 1;
                        });
                        //lấy tên thể loại
                        i = 0;
                        var cateName = '';
                        $.each(item.categories_temp, function (keyA, itemC) {
                            if (i == 2) {
                                cateName += '<p>' + itemC + ' ...</p>';
                                return false;
                            }
                            else
                                cateName += '<p>' + itemC + '</p>';
                            i += 1;
                        });
                        //
                        html += '<tr style="text-algin: center;">';
                        html += '<td style="width: 200px;"><p>' + item.title + '</p></td>';
                        html += '<td style="white-space: nowrap">' + authorName + '</td>';
                        html += '<td style="width:150px; white-space: nowrap">' + cateName + '</td>';
                        html += '<td style="max-width: 400px;"><p>' + item.shortDescription + '</p></td>';
                        html += '<td><p>' + item.count_in + '</p></td>';
                        html += '<td><img src="' + item.thumbnailUrl + '" style="height: 75px; width: 75px;" /></td>';
                        if (item.status == 'Còn sách')
                            html += '<td><span class="badge bg-success">Còn sách</span></td>';
                        if (item.status == 'Hết sách')
                            html += '<td><span class="badge bg-danger">Hết sách</span></td>';
                        if (item.status == 'Chưa cập nhật')
                            html += '<td><span class="badge bg-light">Chưa cập nhật</span></td>';
                        html += '<td class="link-action" style="min-width:135px; width: 135px;">';
                        var idItem = "'" + item._id + "'";
                        html += '<a class="link-edit" data-id="' + item._id + '"><i class="fal fa-pencil-alt"></i> Sửa</a><br />';
                        html += '<a class="link-delete" data-id="' + item._id + '"><i class="far fa-trash-alt"></i> Xoá</a><br />';
                        html += '<a class="link-detail" data-id="' + item._id + '"><i class="fal fa-info-circle"></i> Chi tiết</a>';
                        html += '</td >';
                        html += '</tr>';
                    });
                    $('#_TBODY').html(html);
                    dataTable = new simpleDatatables.DataTable(myTable);
                }
            });
        }
    </script>
}